.modifier_overlay_parent,
.modifier_overlay {
    position: relative;
    top: 0;
    left: 0;
}

.modifier_overlay_original {
    position: relative;
    top: 0;
    left: 0;

    --top-same: calc((var(--img-height) - (var(--img-scale) * var(--img-height))) * -0.5);
    --bottom-same: calc((var(--img-height) - (var(--img-scale) * var(--img-height))) * 0.5);
    transform: scale(var(--img-scale)) translateY(var(--img-y));
}

.modifier_overlay_overlay {
    position: absolute;
    top: 0;
    left: 0;

    transform: scale(var(--overlay-scale)) translateY(var(--overlay-y)) translateX(var(--overlay-x));

    width: var(--img-width);
    height: var(--img-height);

    background-image: var(--overlay-url);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    pointer-events: none;
}